<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Mp3 Downloader from YouTube and YouTube Music, just type your song of choice search. This web app has zero ads. Simple and easy to use."
    />
    <title>MP3 Music Downloader</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../images/music-note.webp"
      alt="icon of website"
    />
    <link rel="stylesheet" href="../css/style.css" />

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=League+Gothic&family=Playfair+Display:ital@1&family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1199609580141306"
      crossorigin="anonymous"
    ></script>
    <script defer src="../javascript/index.js"></script>
  </head>
  <body>
    <section class="main_section">
      <div class="main_container">
        <img
          class="img"
          src="../images/icon.webp"
          alt="Music note image, used as background"
        />
        <h1 class="main_heading">
          <span class="title">Mp3 Music Downloader</span>
        </h1>
        <p class="slogan"></p>

        <form class="search_form" action="/" method="post">
          <input
            class="search_bar"
            type="search"
            name="search"
            placeholder="Enter song name or author"
          />
          <button class="search_button" type="submit">Search</button>
        </form>
      </div>
    </section>

    <section class="about">
      <div class="about_container">
        <h1>About project</h1>

        <p>
          <strong><em>MP3 Music Downloader</em></strong> operates as a music
          search engine, indexing and providing links to music files available
          on the internet. However, it's essential to understand that the
          legality of downloading copyrighted music for free without proper
          authorization from the copyright owner is questionable. While this
          website itself may not host copyrighted content, the sources it
          provides links to might not always be legal. Therefore, it's essential
          for users to exercise caution and respect copyright laws while using
          the platform.
        </p>
        <div class="contact_container">
          <a href="/about_project"
            ><button class="view_button">About Project</button></a
          >
          <a href="http://jerrell-abrahams.tech/" target="_blank"
            ><button class="view_button">View my website</button></a
          >
          <a href="https://www.buymeacoffee.com/jerrellabrahams" target="_blank"
            ><button class="view_button buy_me_coffee">
              Buy me a coffee
            </button></a
          >
        </div>
      </div>
    </section>
  </body>
</html>
