* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}


body {
    background-color: #DDFFBB;
}


.main_container {
    background-color: transparent;
    max-width: 800px;
    height: fit-content;
    margin: 10rem auto;
    
}

.img {
    width: 18.75rem;
    height: 18.75rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    opacity: .2;
}

dialog {
    width: 60%;
    height: 50%;
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: #DDFFBB;
}

iframe {
    width: 80%;
    height: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.modal_title_container {
    width: 100%;
    height: fit-content
}

.modal_title {
    text-align: center;
    font-size: 2rem;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.432);
}

.main_heading {
    font-size: 4rem;
    text-align: center;
    color: #071952;
    font-family: 'Rajdhani', sans-serif;
}

.title {
    margin: 0 .5rem
}


.search_form {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    justify-content: center;
    align-items: center;
}

.search_bar {
    width: 70%;
    padding: .5rem .7rem;
    margin: 1rem auto;
    height: 2.3rem;
    border: none;
    font-size: .9rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 1s all ease;
    font-family: 'Barlow Condensed', sans-serif;
}

.search_bar:focus {
    outline: none;
    border-radius: 10px;
    box-shadow: #00000074 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.search_button{
    width: fit-content;
    height: fit-content;
    padding: .5rem 3rem;
    font-size: 1.1rem;
    font-family: 'Barlow Condensed', sans-serif;
    border: none;
    border-radius: 2px;
    background-color: #A4BC92;
    color: white;
    transition: .5s all ease;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search_button:hover {
    background-color: #071952;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transform: translateY(2px);
    outline: none;
}

.song_container {
    width: 70%;
    height: fit-content;
    padding: .8rem;
    background-color: #A4BC92;
    margin: 2rem auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

}

.button_container {
    margin: 1rem auto;
}

.button_container form {
    display: flex;
    justify-content: center;
}

.button_container button {
    width: fit-content;
    height: fit-content;
    padding: .5rem 1.5rem;
    border: none;
    border-radius: 2px;
    margin: 0 1rem;
    background-color: #C7E9B0;
    transition: .5s ease all;
    font-size: 1rem;
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.button_container button:hover {
    transform: translateY(1.5px);

    background-color: #a3bd89;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;


}

.song_details_container {
    width: 100%;
}

.song_title {
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Rajdhani', sans-serif;
    color: black
}

.song_author {
    margin: .4rem;
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 200;
}

.song_details {
    margin: 0;
    font-size: .9rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.about_container {
    max-width: 800px;
    height: fit-content;
    background-color: #DDFFBB;
    margin: 0 auto;
    text-align: center;
}

.about_container h1 {
    font-family: 'Playfair Display', 'serif';
    font-size: 2.2rem;
    color: #071952
}

.about_container p {
    width: 90%;
    margin: 1rem auto;
    font-size: 1rem;
    line-height: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
}

.contact_container button {
    width: fit-content;
    height: fit-content;
    margin: 1rem 2rem;
    padding: .7rem 2rem;
    border-radius: 4px;
}

.contact_me_button {
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    transition: .5s all ease;
}

.contact_me_button:hover {
    transform: translateY(1px);
    background-color: black;
    color: white;
    cursor: pointer;
}


.view_button {
    background-color: transparent;
    border: 1px solid black;
    font-size: 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    transition: .5s all ease;
}

.view_button:hover {
    transform: translateY(1px); 
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}



@media all and (min-width: 480px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }
 }

@media all and (max-width: 480px) {
    html {
        font-size: 13px;
    }
    .contact_container {
        display: flex;
        justify-content: center;
    }
    .search_bar {
        width: 90%
    }
    .song_container {
        width: 90%;
    }
 }

@media all and (max-width: 310px) {
    html {
        font-size: 12px;
    }
    .contact_container {
        display: flex;
        justify-content: center;
    }
    .search_bar {
        width: 90%
    }
    .song_container {
        width: 90%;
    }
 }

